In [10]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pylab
import scipy
import seaborn as sns
import sklearn
from sklearn import *
import statsmodels as sm

np.random.seed(1337)

%matplotlib inline

sns.set(font_scale=1.3)
sns.set_style('whitegrid')
sns.set_palette(sns.color_palette('muted'))

pd.options.display.max_colwidth = 30
pd.options.display.float_format = '{:,.3f}'.format

## Load the data

In [2]:
movies = pd.read_csv('data/movies_clean.csv')
ratings = pd.read_csv('data/ratings_train.csv')

## Compute scores

In [3]:
movie_scores = ratings.groupby(['movie_id']).rating.agg(['count', 'mean', 'std'])
movie_scores.columns = ['ratings_cnt', 'ratings_avg', 'ratings_std']
movie_scores.sample(10)

          ratings_cnt  ratings_avg  ratings_std
movie_id
93911               1     3.000000          NaN
94044               7     3.214286     1.253566
127831              1     3.500000          NaN
66927               4     4.000000     0.912871
70521              93     3.655914     0.969588
33358             131     3.660305     0.912029
99679               4     2.750000     1.658312
104633              1     3.500000          NaN
333              8780     3.348349     1.065052
91978             208     3.197115     0.817733

In [11]:
movies = pd.merge(movies, movie_scores, left_on='movie_id', right_index=True)
movies['age'] = 2018 - movies.year
movies.sample(5).T

,18874,18904,26623,13520,14045
movie_id,93911,94044,127831,66927,70521
title,Village People Radio Show ...,Terraferma (2011),Tintin and I (2003),Tokyo.Sora (2002),Lost in Austen (2008)
year,"2,007.00","2,011.00","2,003.00","2,002.00","2,008.00"
parsed_genres,['documentary'],['drama'],['documentary'],['drama'],"['drama', 'fantasy', 'roma..."
genre_thriller,0,0,0,0,0
genre_animation,0,0,0,0,0
genre_crime,0,0,0,0,0
genre_filmnoir,0,0,0,0,0
genre_documentary,1,0,1,0,0
genre_western,0,0,0,0,0
genre_nogenreslisted,0,0,0,0,0
genre_scifi,0,0,0,0,1
genre_war,0,0,0,0,0
genre_mystery,0,0,0,0,0
genre_imax,0,0,0,0,0
genre_adventure,0,0,0,0,0
genre_musical,0,0,0,0,0
genre_children,0,0,0,0,0
genre_drama,0,1,0,1,1
genre_action,0,0,0,0,0
genre_comedy,0,0,0,0,0
genre_romance,0,0,0,0,1
genre_horror,0,0,0,0,0
genre_fantasy,0,0,0,0,1
ratings_cnt_x,1,7,1,4,93
ratings_avg_x,3.00,3.21,3.50,4.00,3.66
ratings_std_x,NaN,1.25,NaN,0.91,0.97
age,11.00,7.00,15.00,16.00,10.00
ratings_cnt_y,1,7,1,4,93
ratings_avg_y,3.00,3.21,3.50,4.00,3.66
ratings_std_y,NaN,1.25,NaN,0.91,0.97
ratings_cnt_x,1,7,1,4,93
ratings_avg_x,3.00,3.21,3.50,4.00,3.66
ratings_std_x,NaN,1.25,NaN,0.91,0.97
ratings_cnt_y,1,7,1,4,93
ratings_avg_y,3.00,3.21,3.50,4.00,3.66
ratings_std_y,NaN,1.25,NaN,0.91,0.97
ratings_cnt,1,7,1,4,93
ratings_avg,3.00,3.21,3.50,4.00,3.66
ratings_std,NaN,1.25,NaN,0.91,0.97

## Some charts

### Top rated horror movies

In [ ]:
print(movies[movies.genre_horror == 1].ratings_cnt.quantile([0.8 + i*0.05 for i in range(5)]))
d = movies[(movies.genre_horror == 1) & (movies.ratings_cnt > 20)].copy()
d['score'] = (
    + 1.00 * d.ratings_avg
    - 0.50 * d.ratings_std
    + 0.20 * d.ratings_cnt)
d = d.sort_values(by='score', ascending=False)
d.head(10)[['movie_id', 'title', 'year', 'parsed_genres', 'ratings_cnt', 'ratings_avg', 'ratings_std', 'score']]

### Controversial horror movies

In [ ]:
print(movies[movies.genre_horror == 1].ratings_cnt.quantile([0.8 + i*0.05 for i in range(5)]))
d = movies[(movies.genre_horror == 1) & (movies.ratings_cnt > 20)].copy()
d['score'] = (
    + 0.10 * d.ratings_avg
    + 100.0 * d.ratings_std
    + 0.00 * d.ratings_cnt)
d = d.sort_values(by='score', ascending=False)
d.head(10)[['movie_id', 'title', 'year', 'parsed_genres', 'ratings_cnt', 'ratings_avg', 'ratings_std', 'score']]